h1 Dashboard


.container-list
	.card-category( *ngFor="let category of categoryList" )
		.container
			i.material-icons {{category}}
			h2 {{category}}
		.container-hover
			h2 Title
			p Lorem ipsum dolor sit amet consectetur adipisicing elit.
			p Nostrum, quaerat qui esse dolorum molestiae
