

table.table
	thead
		tr
			td Nombre
			td Edad
			td Email
			td Telefono
			td
	tbody
		tr( *ngFor="let user of [1,2,3,4,5,6,7,8,9,10]" )
			td Cristian Ramirez
			td 25
			td cristian.ramirez@enova.com
			td 961-245-40-93
			td( width="50" align="center" )
				dropdown( position="bottom-right")
					div.slot-toggle
						i.material-icons more_vert

					div.slot-options
						div.item( (click)="view()" )
							i.material-icons remove_red_eye
							span Ver
						div.item
							i.material-icons create
							span Editar
						div.item
							i.material-icons delete
							span Eliminar


ngb-pagination( [collectionSize]="120", [(page)]="page", [maxSize]="5", [rotate]="true", [boundaryLinks]="true" )