ngb-datepicker
	outline: none


	.ngb-dp-header
		background-color: $color-primary !important
		border-bottom: 0 !important
		color: white


		.btn-link
			color: white


		.d-block
			display: flex !important
			flex: 1


			.custom-select
				background: transparent
				border: 0
				color: white
				cursor: pointer


	.ngb-dp-months
		padding-bottom: 30px !important
		padding-left: 30px !important
		padding-right: 30px !important


		.ngb-dp-month


			.d-block


				.ngb-dp-week


					&:first-child


						.ngb-dp-weekday
							color: white !important
							margin: 5px


					.ngb-dp-day
						margin: 5px


						.btn-light
							border-radius: 50%
							color: $color-gray-dark


							&.outside
								color: $color-gray-letter


							&.bg-primary
								background-color: $color-primary !important