.table
	background: white
	border-radius: 5px
	border: 1px solid $color-gray-border
	box-shadow: 0 7px 13px 0 rgba( black , 0.04)
	color: $color-gray-dark


	thead
		background: rgba( $color-gray-dark, 0.2)
		font-weight: bold


	tbody


		tr
			font-weight: 100


			&:hover
				background: rgba($color-gray-dark, 0.1)