@import '../../../../styles/colors'

.search
	border-radius: 5px
	border: 1px solid $color-gray-border
	display: flex
	align-items: center
	overflow: hidden
	height: 41px


	.button-search
		align-items: center
		background: $color-primary
		color: white
		cursor: pointer
		display: flex
		justify-content: center
		text-align: center
		width: 40px
		height: 41px


	.material-icons
		cursor: pointer


	.dropdown-toggle
		transition: 0.3s all


		&:after
			display: none

	.dropdown-menu
		top: 117px !important
		border-radius: 0 0 5px 5px
		padding: 8px 11px


		input
		textarea
			background: white
			border-bottom: 1px solid $color-gray-border
			border-radius: 0
			color: $color-gray-letter
			font-size: 14px
			font-weight: 100
			height: 30px
			letter-spacing: 1px
			outline: none
			padding: 0 5px 3px 5px
			width: 100%

		textarea
			height: auto
			resize: none


		.form-group
			margin-bottom: 10px


			label
				color: $color-gray-dark
				font-weight: bold
				margin: 0


			input
			textarea
				margin: 0



	input
		border: 0
		font-size: 14px
		margin: 0
		outline: none
		padding: 8px 5px 8px 12px
		transition: 0.3s all
		width: 213px


		&.contract
			width: 85px


		&:focus
			width: 213px

	&.show
		border-radius: 5px 0 0 0
		input
			width: 213px
		.dropdown-toggle
			transform: rotateZ(180deg)