.search( ngbDropdown='' )

	input(type="text" placeholder="Buscar...", [(ngModel)]="templateContext.$implicit.field.main", [ngClass]="{'contract': templateContext.$implicit.field.main === ''}", (ngModelChange)="filterByMainField($event)")

	i.material-icons( ngbDropdownToggle='', *ngIf="templateRef" ) keyboard_arrow_down

	div.button-search
		i.material-icons search

	div(ngbDropdownMenu='', *ngIf="templateRef")

		ng-container( *ngTemplateOutlet="templateRef; context: templateContext" )






