.forms
	padding: 20px
	background: white
	border-radius: 5px
	box-shadow: 0 7px 13px 0 rgba( black, 0.04)


	.sections-form
		display: flex


		.section-left
		.section-right
			margin: 0 10px
			flex: 1